<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1 style="text-align: center;">Mon projet django</h1>
      <ul>
            <li><a href="{% url 'acceuil' %}">Opcheck</a></li>
      </ul>
      <style>
            h1{
                  font-size: 55px;
            }
            li{
                  margin-left: 350px;
                  list-style: none;
            }
            a{
                  font-size: 32px;
                  color: orange;
            }
      </style>
</body>
</html>